.card_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    border-radius: solid 3px red;
    box-shadow: 0 4px 8px 0 rgba(188, 188, 188, 0.2);
    background-color: #17172e15;
    width: 75vh;
}

.card_img {
    display: flex;
    flex-direction: row;
    height: 15vh;
    padding: 5px;
}

.card_img:hover {
    height: 18vh;
}

.card_title {
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: white;
}

.img_champions {
    height: 10vh;
    width: 10vh;
    cursor: pointer;
}

@media (max-width: 800px) {
    .card_container {
        width: 43vh;
    }

    .img_champions {
        height: 10vh;
        width: 10vh;
    }
}