.card_container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
    border-radius: solid 3px red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #17172e15;
    width: 35vh;
}

/* .card_champions {

    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 12px 12px;
    padding: 20px;
    border: 1px solid var(--border-color-grey);
    background-color: */


.img_champions {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.name_champions {
    display: flex;
    justify-content: center;
    color: white;
}

.img_champions {
    height: 10vh;
    width: 10vh;
    cursor: pointer;
}