.navbar_navigate_contains {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.link_router {
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.link_router:hover {
    color: rgb(218, 194, 194)
}